@using MvcStock.Models.Entity
@model List<Tbl_Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}




<a href="/Product/AddNewProduct" class="btn btn-primary">Add New Product</a>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />


<script>
    $('#tbl1').DataTable();
</script>