@model MvcStock.Models.Entity.Tbl_Customers
@{
    ViewBag.Title = "AddNewCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post" action="/Customer/AddNewCustomer">

    <div>
        <label>Customer Name</label>
        @Html.TextBoxFor(c => c.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.CustomerName, "", new { @style = "color:red" })
    </div>

    <div>
        <label style="margin-top:15px">Customer Surname</label>
        @Html.TextBoxFor(c => c.CustomerSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.CustomerSurname, "", new { @style = "color:red" })
    </div>
        
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Add New Customer</button>
    </div>

    <script>

        $('#btn1').click(function () {
            alert('Customer added succesfully');
        });
    </script>


</form>

